/*  your css code here. If applicable */
header{
	text-align:center;
	background-color:  #011e29;
	color:white;
	font-size:35px;
	padding:20px
}
.container{
	background-color:whitesmoke;
}
.box{
	display: inline-grid;
	background-color:white;
	width:276px;
	height:auto;
	border-radius:15px;
	text-align:center;
}
.pictorial-news-section{
	text-align:center;
	picture-align:center;
	background-color: 
}
.latest-news-section{
	text-align:center;
}
